#btn, .cta-home {
  padding: 0.5em 1.5em;
  font-size: 1.5rem;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: inline-block;
  margin: 1em;
}

#btn:hover, .cta-home:hover {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.cta-home {
  color: #1b98e0;
  margin-top: 2em;
  background: white;
  max-width: 10em;
  margin: 2em auto;
  font-weight: bold;
}

.cta-home:hover {
  opacity: 0.7;
}

.main-heading {
  font-size: 4rem;
  font-weight: normal;
}

.secondary-heading {
  font-size: 2rem;
  margin: 1em 0;
  font-weight: normal;
}

.main-p {
  margin: 1em 0;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: white;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
}

/* Screen width display */
.screen-width {
  color: white;
  background: red;
  position: absolute;
  bottom: 2em;
  right: 2em;
  font-size: 1rem;
  border-radius: 30%;
  padding: 1em;
  font-weight: bold;
}

/* TYPOGRAPHY */
/* GENERAL LAYOUT */
/* NAVIGATION MOBILE */
header {
  background: #1b1b1e;
}

nav {
  padding: 1em;
  height: 10vh;
  color: white;
  background: #1b1b1e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em;
}

nav a {
  text-decoration: none;
  color: white;
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

nav a:hover {
  color: #1b98e0;
}

.nav-bar {
  position: fixed;
  background: #1b1b1e;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  list-style: none;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 2rem;
  font-weight: bold;
  -webkit-clip-path: circle(5% at 100% -10%);
          clip-path: circle(5% at 100% -10%);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  z-index: 100;
}

.nav-bar li {
  margin-left: 2em;
}

.nav-bar .submenu1 li,
.nav-bar .submenu2 li {
  list-style: none;
  font-size: 1rem;
  margin: 1em 0;
  font-weight: normal;
  margin-left: 40%;
}

.nav-bar.active {
  -webkit-clip-path: circle(100%);
          clip-path: circle(100%);
}

.research,
.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.research .triangle1,
.research .triangle2,
.about .triangle1,
.about .triangle2 {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.research .triangle1.flipped,
.research .triangle2.flipped,
.about .triangle1.flipped,
.about .triangle2.flipped {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.research p,
.about p {
  margin-right: 4px;
}

.research:hover,
.about:hover {
  color: #1b98e0;
}

.burger {
  cursor: pointer;
  z-index: 100;
}

.burger.fixed {
  position: fixed;
  top: 31px;
  right: 15px;
}

.line1,
.line2 {
  height: 3px;
  width: 30px;
  background: white;
  margin: 6px;
  border-radius: 10%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.line1.active {
  -webkit-transform: rotate(45deg) translateY(6px);
          transform: rotate(45deg) translateY(6px);
}

.line2.active {
  -webkit-transform: rotate(-45deg) translateY(-6px);
          transform: rotate(-45deg) translateY(-6px);
}

@media (min-width: 800px) {
  nav {
    margin: 0 auto;
    max-width: 90%;
  }
  .nav-bar {
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 100%;
    -webkit-clip-path: none;
            clip-path: none;
    font-size: 1rem;
  }
  .nav-bar li {
    margin: 0 30px;
    position: relative;
  }
  .nav-bar li .submenu1,
  .nav-bar li .submenu2 {
    background-color: #1b1b1e;
    position: absolute;
    margin-top: 1.2em;
    padding: 1em;
    width: 12em;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .nav-bar li .submenu1.active,
  .nav-bar li .submenu2.active {
    opacity: 1;
  }
  .nav-bar li .submenu1 li,
  .nav-bar li .submenu2 li {
    list-style: none;
    margin-bottom: 1em;
    margin-left: 0;
    font-weight: normal;
    font-size: 0.8rem;
  }
  .research,
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
  }
  .research p,
  .about p {
    margin-right: 4px;
  }
  .burger {
    display: none;
  }
}

.home-container {
  text-align: center;
}

.hero-top {
  padding: 4em 1em;
  background: #cbc4c4;
  color: white;
  background-image: url("../images/Buildings.jpg");
  background-blend-mode: multiply;
}

.box-home {
  background: #1b1b1e;
  padding: 2em;
  margin: 2em auto 2em auto;
  color: white;
  max-width: 95%;
}

.box-home h2 {
  text-transform: uppercase;
}

.box-home .p-container {
  background: white;
  color: black;
  padding: 1em;
}

@media (min-width: 760px) {
  .home-container {
    padding: 0;
  }
  .hero-main {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "box1 box2" "box3 box3";
    grid-column-gap: 1em;
    max-width: 90%;
    margin: 0 auto;
  }
  .box1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: box1;
  }
  .box2 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: box2;
  }
  .box3 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: box3;
  }
}

@media (min-width: 1000px) {
  .home-container {
    padding: 0;
  }
  .hero-top p {
    font-size: 1.2rem;
    max-width: 800px;
    margin: 0 auto;
  }
  .hero-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0em auto 2em auto;
    max-width: 90%;
  }
  .hero-main .box-home + .box-home {
    margin-left: 1em;
  }
  .hero-main .box-home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

footer {
  background: #1b1b1e;
  padding: 2em;
  color: white;
  text-align: center;
}

.team-container {
  padding: 1em;
}

.team-top {
  text-align: center;
  margin-bottom: 2em;
}

.team-top h1 {
  text-transform: uppercase;
  color: #1b98e0;
}

.team-top p:nth-of-type(2) {
  font-weight: bold;
}

.glide-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4em;
}

.glide__slide {
  height: 80vh;
}

.glide__slide img {
  height: 40vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 1em;
}
/*# sourceMappingURL=style.css.map */