#btn {
  padding: 0.5em 1.5em;
  font-size: 1.5rem;
  text-decoration: none;
  transition: all 0.5s ease;
  display: inline-block;
  margin: 1em;

  &:hover {
    transform: scale(0.8);
  }
}
.cta-home {
  @extend #btn;
  color: #1b98e0;
  margin-top: 2em;
  background: white;
  max-width: 10em;
  margin: 2em auto;
  // font-weight: bold;
  text-transform: uppercase;
}
